/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #9F4446; /* Theme color */
    color: white;
    height: 100%;
    padding-top: 20px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.logo {
    font-size: 1.5rem;
    margin-left: 10px;
}

.sidebar-menu {
    padding: 0;
    list-style-type: none;
    margin: 20px 0;
}

.menu-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-item a {
    text-decoration: none;
    color: #fff; /* White color */
}

.menu-item a:hover {
    text-decoration: none;
    color: #fff; /* White color */
}

.menu-item.active a {
    border-bottom: none;
}

.menu-item.active {
    border-bottom: none;
}

.logout-link {
    text-decoration: none;
}

.logout-btn {
    background-color: #9F4446; /* Theme color */
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    display: block;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Content Styles */
.content {
    margin-left: 250px; /* Adjust for sidebar width */
    padding: 20px;
    display: flex; /* Use flexbox to align content */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: flex-start; /* Align items to the start of the flex container */
}

.equipment-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 50px; /* Gap between items */
    padding: 20px;
    width: 100%; /* Take full width of container */
}

.equipment-item {
    background-color: #f0f0f0; /* Light gray background */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    width: calc(100% - 20px); /* Adjust for gap between items */
    margin-bottom: 20px; /* Add some bottom margin for spacing */
}

.equipment-item img {
    max-width: 100%;
    border-radius: 5px;
}

.equipment-item h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.back-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
    border: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1; /* Ensure it appears above the grid */
}

.back-btn:hover {
    background-color: #f0f0f0;
}
.back-btn a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
}
.back-btn i {
    margin-right: 8px;
}

/* Widgets Styles */
.summary-widgets {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.widget {
    margin-top: 40px;
    background: linear-gradient(to bottom right, #ffffff, #f0f0f0);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.widget:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.widget h3 {
    margin-bottom: 10px;
    color: #7e4c4c;
}

.widget p {
    color: #52a7ae;
}

.widget .widget-icon {
    font-size: 48px;
    margin-bottom: 10px;
    color: #a1915d;
}


.page-header {
    margin-top: 20px; /* Adjust spacing */
    text-align: center; /* Center align heading */
}

.page-header h1 {
    margin-bottom: 10px; /* Adjust spacing */
    color: #333; /* Text color */
}