/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background-color: #9F4446; /* Theme color */
  color: white;
  height: 100%;
  padding-top: 20px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.logo {
  font-size: 1.5rem;
  margin-left: 10px;
}

.sidebar-menu {
  padding: 0;
  list-style-type: none;
  margin: 20px 0;
}

.menu-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  color: white;
  display: block;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-item.active {
  border-bottom: none;
}

.menu-item.active a {
  border-bottom: none;
}

.logout-btn {
  background-color: #9F4446; /* Theme color */
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  display: block;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Notification Content Styles */
.notification-content {
  display: flex;
  margin-left: 250px; /* Adjust for sidebar width */
  padding: 20px;
}

.message-box {
  flex: 1;
  margin-right: 20px;
}

.message-list {
  background-color: #d9ebf1;
  padding: 5px;
  margin-bottom: 10px;
}

.message-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.message-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.message-item .message-content {
  flex: 1;
}

.message-item .reply-button {
  background-color: #9F4446;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.reply-form-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.reply-form-container h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.reply-form-container input,
.reply-form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reply-form-container button {
  padding: 10px 20px;
  background-color: #9F4446;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reply-form-container button[type="submit"] {
  background-color: #9F4446;
}

.reply-form-container button[type="submit"]:hover,
.reply-form-container button#close-popup:hover {
  background-color: #7b2a2d;
}

#close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
