body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9F4446; /* Red theme color */
    color: #fff; /* White text color */
}

.container {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: #9F4446;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group select,
.form-group textarea {
    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group select {
    appearance: none;
    padding-right: 30px;
    background-image: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.form-group textarea {
    resize: vertical;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #9F4446; /* Red button color */
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ddd;
}

p {
    margin-top: 15px;
    text-align: center;
}

p a {
    color:  #fff; /* White link color */
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.fa-chevron-down {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #ccc; /* Grey icon color */
}
