/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #9F4446; /* Theme color */
    color: white;
    height: 100%;
    padding-top: 20px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.logo {
    font-size: 1.5rem;
    margin-left: 10px;
}

.sidebar-menu {
    padding: 0;
    list-style-type: none;
    margin: 20px 0;
}

.menu-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-item a {
    text-decoration: none;
    color: #fff; /* White color */
}

.menu-item a:hover {
    text-decoration: none;
    color: #fff; /* White color */
}

.menu-item.active a {
    border-bottom: none;
}

.menu-item.active {
    border-bottom: none;
}

.menu-item.clicked {
    background-color: white; /* White background color */
    color: #9F4446; /* Wine text color */
}

.logout-link {
    text-decoration: none;
}

.logout-btn {
    background-color: #9F4446; /* Theme color */
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    display: block;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Content Styles */
/* Content Styles */
.content {
    margin-left: 250px; /* Adjust for sidebar width */
    padding: 20px;
}

/* Dashboard Overview Styles */
.summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align widgets starting from the left */
    gap: 20px; /* Add gap between widgets */
    margin-bottom: 30px;
}

.metric {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    flex-basis: calc(25% - 20px); /* Adjust width to fit four per row */
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.metric:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.metric .icon {
    font-size: 24px;
    margin-right: 20px;
}

.metric .value {
    font-size: 36px;
}

.metric .label {
    font-size: 16px;
}
