/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #9F4446; /* Theme color */
    color: white;
    height: 100%;
    padding-top: 20px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.logo {
    font-size: 1.5rem;
    margin-left: 10px;
}

.sidebar-menu {
    padding: 0;
    list-style-type: none;
    margin: 20px 0;
}

.menu-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-item a {
    text-decoration: none;
    color: #fff; /* White color */
}

.menu-item a:hover {
    text-decoration: none;
    color: #fff; /* White color */
}

.menu-item.active a {
    border-bottom: none;
}

.menu-item.active {
    border-bottom: none;
}

.logout-link {
    text-decoration: none;
}

.logout-btn {
    background-color: #9F4446; /* Theme color */
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    display: block;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Content Styles */
.content {
    margin-left: 250px; /* Adjust for sidebar width */
    padding: 20px;
}

.feedback-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

/* Download Button */
#download-feedback-btn {
    background-color: #9F4446; /* Theme color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    float: right; /* Align to the right side */
}

/* Main heading */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Report selection options */
.report-options {
    margin-bottom: 20px;
}

.report-options label {
    display: block;
    margin-bottom: 10px;
}

.report-options select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#additional-options {
    margin-bottom: 20px;
}

/* Generate report button */
#generate-report-btn {
    background-color: #9F4446; /* Theme color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#generate-report-btn:hover {
    background-color: #7b2a2d; /* Darker red on hover */
}

/* Report statistics display */
.report-statistics {
    margin-bottom: 20px;
}

/* Download report button */
#download-report-btn {
    background-color: #9F4446; /* Theme color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#download-report-btn:hover {
    background-color: #7b2a2d; /* Darker red on hover */
}
