/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #9F4446; /* Theme color */
    color: white;
    height: 100%;
    padding-top: 20px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.logo {
    font-size: 1.5rem;
    margin-left: 10px;
}

.sidebar-menu {
    padding: 0;
    list-style-type: none;
    margin: 20px 0;
}

.menu-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-item a {
    text-decoration: none;
    color: #fff; /* White color */
}

.menu-item a:hover {
    text-decoration: none;
    color: #fff; /* White color */
}

.menu-item.active a {
    border-bottom: none;
}

.menu-item.active {
    border-bottom: none;
}

.logout-link {
    text-decoration: none;
}

.logout-btn {
    background-color: #9F4446; /* Theme color */
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    display: block;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Content Styles */
.content {
    margin-left: 250px; /* Adjust for sidebar width */
    padding: 20px;
}

/* Styles for View Schedule section */
.schedule {
    margin-top: 20px;
}

.schedule table {
    width: 100%;
    border-collapse: collapse;
}

.schedule th,
.schedule td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.schedule th {
    background-color: #9F4446;
    color: #fff;
}

.schedule tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Styles for Actions column */
.schedule td:last-child {
    text-align: center;
}

.schedule .edit-icon,
.schedule .delete-icon {
    color: #9F4446;
    cursor: pointer;
    margin: 0 5px;
}

.schedule .edit-icon:hover,
.schedule .delete-icon:hover {
    color: #7f2a2c;
}
